header {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    padding: 11px 32px;
    background-color: white;
    color: #64748B;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #1E293B;
}

.logoImg {
    background-image: url(/src/assets/logo.png);
    height: 64px;
    width: 64px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 467px;
    font-size: 14px;
    line-height: 20px;
}

.nav-link {
    text-decoration: none;
    color: #64748B;
    padding-bottom: 4px;
    border-bottom: 1px solid transparent;
    transition: all 0.2s ease;
}

.nav-link:hover {
    color: #3B82F6;
}

.nav-link.active {
    color: #3B82F6;
    border-bottom: 1px solid #3B82F6;
}

.headerSettingsBlock {
    height: 100%;
    width: 194px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerSettings {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.headerSettingsNotification {
    background-image: url("../assets/icon-bell.svg");
    height: 22px;
    width: 20px;
    background-position: center;
    background-repeat: no-repeat;


}

.headerSettingsOptions {
    background-image: url("../assets/icon-gear.svg");
    height: 22px;
    width: 20px;
    background-position: center;
    background-repeat: no-repeat;
}

.headerProfile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 98px;
    height: 100%;
    border-left: 1px solid #E2E8F0;
    font-size: 14px;
    color: #334155;
}

.headerProfileName{
    padding-left: 8px;
}

.headerProfileAvatar {
    height: 32px;
    width: 32px;
    min-width: 32px;
    min-height: 32px;
    border-radius: 50%;
    background-image: url("../assets/avatar.svg");
    background-position: center;
    background-repeat: no-repeat;
    flex-shrink: 0;
}